/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.caption h3 {
  font-size: 16px;
}

#actions {
  margin-top: 20px;
}

#actions p{
  margin-top: 10px;
  margin-left: 50px;
  font-size: x-large;
  font-weight: bold;
}

#tl {
  background-color: #3B5998;
  background-repeat:repeat-y;
  width: 5px;
  float: left;
}

.margin-down {
  margin-bottom: 50px;
}

#steps {
  margin-left: 50px;
}

#steps li {
  position:relative;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom : 20px;
  border: 1px solid #DDE2ED;
  overflow:y;
}

#steps li button {
  float:right;
  position: absolute;
  right : 20px;
}

#steps li h3 {
  margin: 0px;
  padding-top: 20px;
  padding-left : 20px;
  background-color: #F1F1F1;
}

#steps li h3 hr {
	border: solid 1px #DDE2ED;
	margin-right: 20px;
}

#steps li img {
  vertical-align:top;
}
