/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 */
p {
  font-family: Tahoma;
}

.caption h3 {
  font-size: 16px;
}

.circle {
  position:relative;
  float:left;
  right: 65px;
  top: 25px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #3B5998;
  border: 5px solid white;
  /* width and height can be anything, as long as they're equal */
}

#actions {
  margin-top: 20px;
}

#actions p{
  margin-top: 10px;
  margin-left: 50px;
  font-size: x-large;
  font-weight: bold;
}

.li-none{
  list-style-type: none;
  border-radius: 5px;
  border: none;
  float: left;
  width: 43%;
}

#tl {
  background-color: #3B5998;
  background-repeat:repeat-y;
  width: 3px;
  float: left;
}

.margin-down {
  margin-bottom: 50px;
}

#arrow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
}

#steps {
  margin-left: 50px;
}

#steps li {
  position:relative;
  list-style-type: none;
  margin-bottom: 20px;
  padding-bottom : 20px;
  border: 1px solid #DDE2ED;
  overflow:y;
}

#steps li button {
  float:right;
  position: absolute;
  right : 20px;
}

#steps li h3 {
  margin: 0px;
  padding-top: 20px;
  padding-left : 20px;
  background-color: #F1F1F1;
}

#steps li h3 hr {
  border: solid 1px #DDE2ED;
  margin-right: 20px;
}

#steps li img {
  vertical-align:top;
}

.button {
  text-align: center;
  vertical-align: center;
  font-size: 54pt;
  padding-top: 30px;
}

#iphone:hover {
  background-color: lightgrey;
  box-shadow: 3px 3px 4px black;
}

.big-button {
  height: 100px;
  margin: 20px;
  border-bottom: 100px;
  font-size: 40px;
}