/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.caption h3 {
  font-size: 16px;
}

.circle {
  position: absolute;
  height: 500px;
  left: 50px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #a5a7ff;
  border: 5px solid white;
  /* width and height can be anything, as long as they're equal */
}

#actions {
  margin-top: 20px;
}

#actions p{
  margin-top: 10px;
  margin-left: 50px;
  font-size: x-large;
  font-weight: bold;
}

#tl {
  background-image: url("/img/bar.png");
  background-repeat:repeat-y;
  height: 1000px;
  width: 50px;
  float: left;
}

.margin-down {
  margin-bottom: 50px;
}

#arrow {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 25px;
}