#logo.span4.offset1
  =image_tag "/img/onafaim-logo-256.png"
#photo.span6
  =image_tag "/img/bolo.jpg", :class => "img-polaroid"

%h1.span3.offset1 Spaghettis à la bolognaise

#ingredients.span3.offset1
  %p Pour 120 personnes :
  %ul
    %li=link_to "30kg de spaghettis"
    %li=link_to "10kg de viande haché"
    %li=link_to "10kg de sauce tomate"
    %li=link_to "1l d'huile de palme"
    %li=link_to "1 carotte"
#nutritional.span2
  %p Valeurs nutritionnelles :
  %ul
    %li Nombre de calories : 576 kcal/prs
    %li Prix : 126.20€
    %li Temps : 8h

.woot{:style => "position:absolute;left:180px;top:500px;"}
  %span.label Jeune
  %span.label.label-success Sans Porc
  %span.label.label-warning Pas cher
  %span.label.label-important Rapide
  %span.label.label-info Viande
  %span.label.label-inverse Simple

      
.row
  #actions
    .span3.offset5
      %button.btn.btn-primary.btn-large#go
        EN CUISINE !
        %br
        %span.caret

%hr 
#tl

%ul#steps
  %li.li-height
    .circle
    %h3
      Faites cuire la carotte !
      %hr
    %br
    %iframe{:width => "420", :height => "315", "src" => "http://www.youtube.com/embed/_uBafUuSX9M", "frameborder" => "0", "allowfullscreen" => "true"}
    =image_tag "/img/carotte.jpg", :class => "img-polaroid img-rounded"
    %button.btn.btn-primary
      Étape suivante
      %span.caret
  - ['Faites rôtir la viande hachée','Ajoutez la sauce tomate',"Versez l'huile et laissez migoter","Faire bouillir de l'eau","Mettez les pâtes dans l'eau bouillante"].each do |inst|
    %li.li-height 
      .circle
      %h3
        = inst
        %hr
      %button.btn.btn-primary
        Étape suivante
        %span.caret



=link_to (image_tag "/img/up.png", :width => "50px"), "#" , :class => "up-left"

%a#iphone.btn.btn-large.btn-block.btn-success.big-button.span3.offset4{:href=>"#"}
  .pwet
    %i.icon-search.icon-white.icon-camera{:height => "40px", :width => "40px"}
    Prendre une photo du plat et la partager !

=link_to (image_tag "/img/up.png", :width => "50px"), "#" , :class => "up-right"

.span2.offset5
  .div{:style => "float:left;"}
    =link_to (image_tag "/img/f_logo.png", :width => "75px"), "#" , :class => "up-right"
  .div{:style => "float:right;"}
    =link_to (image_tag "/img/twitter.png", :width => "75px"), "#" , :class => "up-right"
