#logo.span4.offset1
  =image_tag "/img/onafaim-logo-256.png"
#photo.span6
  =image_tag "/img/bolo.jpg"

.row
  #ingredients.span5.offset2
    %p Pour 120 personnes :
    %ul
      %li=link_to "30kg de spaghettis"
      %li=link_to "10kg de viande haché"
      %li=link_to "10kg de sauce tomate"
      %li=link_to "1l d'huile de palme"
      %li=link_to "1 carotte"

  #actions.span5
    %button.btn.btn-primary#go
      EN CUISINE !
      %span.caret
    %p &amp;
    %button.btn.btn-primary
      AMÉLIORE LA RECETTE

%hr 
  • ✽ ✩ ✔ ☃ ◦

#tl
