#logo.span4.offset1
  =image_tag "/img/onafaim-logo-256.png"
#photo.span6
  =image_tag "/img/bolo.jpg"


#arrow
  =image_tag "/img/arrow.png"

.circle

.row
  #ingredients.span5.offset2
    %p Pour 120 personnes :
    %ul
      %li=link_to "30kg de spaghettis"
      %li=link_to "10kg de viande haché"
      %li=link_to "10kg de sauce tomate"
      %li=link_to "1l d'huile de palme"
      %li=link_to "1 carotte"

  #actions.span5
    %button.btn.btn-primary#go
      EN CUISINE !
      %span.caret
    %p &amp;
    %button.btn.btn-primary
      AMÉLIORE LA RECETTE

%hr 

#tl

%ul#steps
  %li 
    Faitez cuire la carotte !
    %br
    %iframe{:width => "420", :height => "315", "src" => "http://www.youtube.com/embed/_uBafUuSX9M", "frameborder" => "0", "allowfullscreen" => "true"}
    =image_tag "/img/carotte.jpg"
    %button.btn.btn-primary
      Étape suivante
      %span.caret
  - ['Faites rôtir la viande hachée','Ajoutez la sauce tomate',"Versez l'huile et laissez migoter","Faire bouillir de l'eau","Mettez les pâtes dans l'eau bouillante",'ites rôtir la viande hachée','Ajoutez la sauce tomate',"Versez l'huile et laissez migoter","Faire bouillir de l'eau","Mettez les pâtes dans l'eau bouillante"].each do |inst|
    %li 
      = inst
      %button.btn.btn-primary
        Étape suivante
        %span.caret

