%ul.thumbnails
  %li.span4
    .thumbnail
      = image_tag "/img/bolo.jpg"
    .caption
      %h3 Spaghettis à la bolognaise
      %p Une recette classique mais délicieuse, rapide et peu onéreuse idéale pour toutes les faims.
  %li.span4
    .thumbnail 
      = image_tag "/img/carbo.jpg"
    .caption 
      %h3 Spaghettis à la carbonara
      %p 
  %li.span4
    = image_tag "/img/parmesan.jpg"
